/* Creado por: Ignacio Pinto
  Estilos personalizados para emular el diseño de "Paper Stack"
*/
html {
  /* Esto hace que 1rem sea igual a 10px */
  /* (16px del navegador * 62.5% = 10px) */
  font-size: 62.5%; 
}

body {
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.todo-wrapper {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.titulo {
  width: 100%;
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  color: rgba(39, 6, 6, 0.425);
  margin-bottom: 1rem;
}

/* Input sin bordes feos */
.input-tarea {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  font-size: 24px;
  font-style: italic;
  width: 100%;
}
.input-tarea:focus {
  outline: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

/* Estilo de la lista */
.list-group-item {
  font-size: 24px;
  padding: 15px 15px 15px 60px;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #4d4d4d;
  transition: all 0.2s;
}

/* Lógica para mostrar la X solo en hover */
.btn-delete {
  display: none; /* Oculto por defecto */
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  font-size: 20px;
  cursor: pointer;
}

.btn-delete:hover {
  color: #af5b5e;
}

.list-group-item:hover .btn-delete {
  display: block; /* Mostrar al pasar el mouse sobre la fila */
}

/* Footer estilo papel */
.footer-todos {
  color: #777;
  padding: 10px 15px;
  height: 40px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer-todos:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
              0 8px 0 -3px #f6f6f6, 
              0 9px 1px -3px rgba(0, 0, 0, 0.2), 
              0 16px 0 -6px #f6f6f6, 
              0 17px 2px -6px rgba(0, 0, 0, 0.2);
  z-index: -1;
}